@-webkit-keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-moz-keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-webkit-keyframes splashScreen {
    0%{
        background: rgba(#000,1);
        min-height: 100vh;
    }
    25%{
        background: rgba(#000,1);
    }
    50%{
        background: rgba(#000,0);
        min-height: 100vh;
    }
}
@-moz-keyframes splashScreen {
    0%{
        background: rgba(#000,1);
        min-height: 100vh;
    }
    25%{
        background: rgba(#000,1);
    }
    50%{
        background: rgba(#000,0);
        min-height: 100vh;
    }
}
@keyframes splashScreen {
    0%{
        background: rgba(#000,1);
        min-height: 100vh;
    }
    25%{
        background: rgba(#000,1);
    }
    50%{
        background: rgba(#000,0);
        min-height: 100vh;
    }
}

@-webkit-keyframes blurFadeUp{
    0%{
        transform: translateY(20px);
        filter: blur(5px);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        filter: blur(3px);
        opacity: 1;
    }
    100%{
        filter: blur(0);
    }
}
@-moz-keyframes blurFadeUp{
    0%{
        transform: translateY(20px);
        filter: blur(5px);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        filter: blur(3px);
        opacity: 1;
    }
    100%{
        filter: blur(0);
    }
}
@keyframes blurFadeUp{
    0%{
        transform: translateY(20px);
        filter: blur(5px);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        filter: blur(3px);
        opacity: 1;
    }
    100%{
        filter: blur(0);
    }
}

@-webkit-keyframes bgFade{
    from{
        background: rgba(#000, 1);
    }
}
@-moz-keyframes bgFade{
    from{
        background: rgba(#000, 1);
    }
}
@keyframes bgFade{
    from{
        background: rgba(#000, 1);
    }
}