@use 'breakpoints' as bp;
body{
    background: url('../images/mountains.jpg');
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: brightness(50%);
    animation: bgFade 2.5s ease;
}
.app{
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 33vh;
}
@media (max-width: bp.$sm-1){
    .app{
        padding: 40px;
        padding-top: 25vh;
    }
}
.news{
    animation: fadeIn 1s ease 2s both;
    max-width: 100%;
}
.news_title{
    display: block;
    width: 100%;
    text-align: center;
}